<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('work.members') }}">Members</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('work.members.groups') }}">Groups</a>
    </li>
</ul>
<hr>